<h1 class="my-5">Find the place you need to go!</h1>


<a class="btn btn-outline-primary"href="/find-places/restaurants">Restaurants</a>
<a class="btn btn-outline-primary"href="/find-places/drink-dance">Drink and dance</a>
<a class="btn btn-outline-primary"href="/find-places/useful">Useful</a>



{{#each places}}
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{this.name}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{this.address}}</h6>
    <p class="card-text">{{this.city}}</p>
    <p class="card-text">{{this.zip}}</p>
    <p class="card-text">{{this.description}}</p>
    <p class="card-text">{{this.category}}</p>
  </div>
{{#ifEquals role "ADMIN"}}
<form action="/edit-place/{{this._id}}" method="get">
<button class="btn btn-danger">Edit</button>
</form>
<div>
<form action="/delete-place/{{this._id}}" method="get">
<button class="btn btn-danger">Delete</button>
</form>
{{/ifEquals}}
</div>
</div>
{{/each}}
