<div class="container">
  <div class="row">
  <h1 class="my-5">Find the place you need to go!</h1>
  </div>
  <div class="row">
  <div class="mb-5">
    <a class="btn btn-outline-primary"href="/find-places/restaurants">Restaurants</a>
    <a class="btn btn-outline-primary"href="/find-places/drink-dance">Drink and dance</a>
    <a class="btn btn-outline-primary"href="/find-places/useful">Useful</a>
  </div>
  </div>
</div>

<div class="container no-gutters">
  <div class="row no-gutters">
   
{{#each places}}
        <div class="card col-4 border-0 p-2">
          {{!-- <img src={{this.image_url}} class="card-img-top mx-auto" style="width: 20%"> --}}
          <div class="card-body border rounded">
            <h5 class="card-title">{{this.name}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{this.address}}</h6>
            <p class="card-text">{{this.city}}</p>
            <p class="card-text">{{this.zip}}</p>
            <p class="card-text">{{this.description}}</p>
            <p class="card-text">{{this.category}}</p>
          </div>
          {{#ifEquals ../user.role "ADMIN"}}
          <div class="row p-2">
          <a class="btn btn-outline-primary col mx-2" href="/edit-place/{{this._id}}">Edit</a>
          <a class="btn btn-outline-danger col mx-2" href="/delete-place/{{this._id}}">Delete</a>
          </div>
          {{/ifEquals}}
        </div>
{{/each}}
     
  </div>
</div>
