<section class="find-places">
<div class="container">
  <div class="row">
      <h1 class="mt-5 mb-5 text-primary font-weight-light display-4 col-12">Choose the place you want to go!</h1>
  </div>    
  <div class="row">
      <div class="mb-4 col-12">
        <a class="btn btn-outline-primary mx-1" href="/find-places/restaurants">Restaurants</a>
        <a class="btn btn-outline-primary mx-1" href="/find-places/drink-dance">Drink and dance</a>
        <a class="btn btn-outline-primary mx-1" href="/find-places/useful">Useful</a>
        <a class="btn btn-outline-primary mx-1" href="/find-places">All Places</a>
      </div>
    {{#each places}}
      <div class="col-sm">
        <div class="card rounded m-2 shadow bg-light">
        <div class="card-body">
          <h5 class="card-title text-primary">{{this.name}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{this.address}}</h6>
          <p class="card-text">{{this.city}} {{this.contact}}</p>
          <p class="card-text">{{this.description}}</p>
          <a class="card-text btn btn-outline-primary btn-sm mb-2" href="{{this.link}}" target="_blank">Open Map</a>
          <p class="card-text text-info">{{this.category}}</p>
        </div>
        </div>
        {{#ifEquals ../user.role "ADMIN"}}
        <div class="row p-2">
          <a class="btn btn-outline-primary col mx-2" href="/edit-place/{{this._id}}">Edit</a>
          <a class="btn btn-outline-danger col mx-2" href="/delete-place/{{this._id}}">Delete</a>
        </div>
        {{/ifEquals}}
      </div>
    {{/each}}  
  </div>
</div>
</section>
