<div class="container flex-column">
  <h1 class="mt-5">This is <strong>{{name}} {{lastName}}'s</strong> Profile</h1>
  <span>City: {{city}}</span>
  <h5 class="mb-5">Your email: <strong>{{email}}</strong></h5>
  <h1 class="mt-5 font-weight-light">This is <strong>{{name}} {{lastName}}'s</strong> Profile</h1>
  <h5 class="mb-5 font-weight-light">Your email: <strong>{{email}}</strong></h5>

  <div class="d-flex justify-content-left">
    {{!-- ÊDIT PROFILE BUTTON STARTS HERE --}}
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-outline-primary mr-2" data-toggle="modal" data-target="#exampleModal">
      Edit your Profile
    </button>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Hello, {{name}} {{lastName}}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form action="/edit-user" method="POST">
              <div class="form-group text-center">
                <label for="sign-up-name">Please enter your name:</label>
                <input class="form-control text-center" type="text" name="name" value={{name}}>
              </div>
              <div class="form-group text-center">
                <label for="sign-up-lastName">Please enter your last name:</label>
                <input class="form-control text-center" type="text" name="lastName" value={{lastName}}>
              </div>
              <div class="form-group text-center">
                <label for="sign-up-email" class="text-center">Please enter your email address:</label>
                <input class="form-control text-center" type="email" name="email" value={{email}}>
              </div>
              <div class="form-group">
                <label for="city form-control">City:</label>
                <select id="city" name="city" class="form-control">
                  <option selected>Choose...</option>
                  <option>Amsterdam</option>
                  <option>Barcelona</option>
                  <option>Berlin</option>
                  <option>Lisbon</option>
                  <option>Madrid</option>
                  <option>Miami</option>
                  <option>México City</option>
                  <option>Paris</option>
                  <option>São Paulo</option>
                </select>
              </div>
              <div class="container d-flex justify-content-center">
                <button type="submit" class="btn btn-outline-primary">Update Information</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    {{!-- EDIT PROFILE BUTTON ENDS HERE --}}

    {{!-- DELETE BUTTON STARTS HERE --}}
    <!-- Button trigger modal -->
    <button class="btn btn-outline-danger" data-toggle="modal" data-target=".bd-example-modal-sm">
      Delete Account!
    </button>

    <!-- Modal -->
    <div class="modal fade bd-example-modal-sm mx-4" id="exampleModal" tabindex="-1" role="dialog"
      aria-labelledby="mySmallModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Delete Account</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-dialog modal-sm">
            Are you sure that you want to delete your account?
          </div>
          <div class="container">
            <div class="modal-footer d-flex justify-content-around row">
              <a class="btn btn-outline-primary col" href="/profile" role="button">No</a>
              <a class="btn btn-outline-danger col" href="/delete-user" role="button">Yes</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    {{!-- DELETE BUTTON ENDS HERE --}}
  </div>
</div>


<div class="container">
  <div class="row">
    <h4 class="col-6 mt-5 mb-3">Place's History</h4>
  </div>
  <div class="row">
    {{#each _createdPlaces}}
    <div class="card col-4 border-0">
      <div class="card-body border rounded shadow-sm">
        <h5 class="card-title text-primary">{{this.name}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{this.address}}</h6>
        <p class="card-text">{{this.city}} {{this.zip}}</p>
        <p class="card-text">{{this.description}}</p>
        <a class="card-text" href="{{this.link}}">{{this.link}}</a>
        <p class="card-text text-primary">{{this.category}}</p>
      </div>
      <div class="row p-2">
        <a class="btn btn-outline-primary col-4 mx-2" href="/edit-place/{{this._id}}">Edit Place</a>
        <a class="btn btn-outline-danger col-4 mx-2" href="/delete-place/{{this._id}}">Delete Place</a>
      </div>
    </div>
    {{/each }}
  </div>
</div>